@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
    background-image: linear-gradient(90deg, #092E56 25%, #003976 75%);
  }
.titulo_secundario,.identificador,label,input,button {
    font-family: 'Roboto', sans-serif;
  }  
.container,.titulo_principal,.titulo_secundario,.identificador,label {
    color: white;
  }
.titulo_principal {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 0px 0px 10px 230px;
  font-weight: bold;
}
.titulo_secundario {
  display: flex;
  height: 15vh;
  align-items: center;
  font-size: 2rem;
  padding: 0px 0px 10px 250px;
}
.identificador {
  display: flex;
  height: 10vh;
  align-items: center;
  font-size: 1.5rem;
  padding: 0px 0px 10px 250px;
}
.bar-blue {
    height: 80px;
    width: 100%;
    background-color: #060b26;
}
form {
  width: 70vw;

  display: flex;
  flex-direction: column;
  padding: 0px 0px 10px 278px;
  gap: 25px;
}
label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
input {
  border-radius: 5px;
  border: 1px solid #002B5B;
  height: 25px;
  width: 300px;
  background-color: #ddf8f8;
}
button {
  width: 300px;
  height: 40px;
  background-color: #256D85;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}
p {
  color: #FFCB42;
  position: absolute;
  margin-top: 50px;
}
.nav-menu {
    background-color: #060b26;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
}
.nav-menu-items {
    width: 100%;
}
span{
    margin-left: 16px;
}
img {
    height: 40px;
    width: 40px;
}
.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.items:hover {
    cursor: pointer;
}
.elementos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 55px;
    margin-left: 15px;
    height: 400px;
}
.txt-nav-bar {
    font-size: 20px;
    font-family: Roboto, sans-serif;
}