@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
    background-image: linear-gradient(90deg, #092E56 25%, #003976 75%);
  }
  
  .titulo_secundario,.identificador,label,input,button {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .container,.titulo_principal,.titulo_secundario,.identificador,label {
    color: white;
  }

.titulo_principal {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 0px 0px 10px 230px;
  font-weight: bold;
}

.titulo_secundario {
  display: flex;
  height: 15vh;
  align-items: center;
  font-size: 2rem;
  padding: 0px 0px 10px 250px;
}

.identificador {
  display: flex;
  height: 10vh;
  align-items: center;
  font-size: 1.5rem;
  padding: 0px 0px 10px 250px;
}

.bar-blue {
    height: 80px;
    width: 100%;
    background-color: #060b26;
}

form {
  width: 70vw;

  display: flex;
  flex-direction: column;
  padding: 0px 0px 10px 278px;
  gap: 25px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

input {
  border-radius: 5px;
  border: 1px solid #002B5B;
  height: 25px;
  width: 300px;
  background-color: #ddf8f8;
}

button {
  width: 300px;
  height: 40px;
  background-color: #256D85;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

p {
  color: #FFCB42;
  position: absolute;
  margin-top: 50px;
}

.navbar {
    background-color: #060b26;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #060b26;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1a83ff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span{
    margin-left: 16px;
}

img {
    height: 40px;
    width: 40px;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.items:hover {
    cursor: pointer;
}

.elementos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 55px;
    margin-left: 15px;
    height: 400px;
}

.txt-nav-bar {
    font-size: 20px;
    font-family: Roboto, sans-serif;
}
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #242933;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #2F3644;
    border-radius: 10px;
    width: 650px;
    max-width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
}

.imagem_logo {
    padding: 20px;
}

.header {
    font-size: 2rem;
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}

.header_secundario {
    font-size: 1.5rem;
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: 600;
}

.identificador {
    font-size: 1.2rem;
    padding-left: 15px;
}

.form {
    padding: 20px;
}

.form_control {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.form_control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form_control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 45%;
    padding: 5px;
}

.form_control i {
    position: absolute;
    top: 52px;
    left: 165px;
    visibility: hidden;
}

.form_control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: gray;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    width: 45%;
    cursor: pointer;
}

.localizacao_laco {
    font-size: 1.2rem;
    padding-left: 15px;
}

.form_laco {
    padding: 20px;
}

.form_control_localizacao, .form_control_longitude {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.form_control_localizacao label {
    display: inline-block;
    margin-bottom: 5px;
}

.form_control_localizacao input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 45%;
    padding: 5px;
}

.form_control_localizacao i {
    position: absolute;
    top: 52px;
    left: 165px;
    visibility: hidden;
}

.form_control_localizacao small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form_laco button {
    background-color: gray;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    width: 45%;
    cursor: pointer;
}


/* Error e Success*/

/* .form_control.error input {
    border-color: red;
}

.form_control_localizacao input {
    border-color: green;
}

.form_control.error i.error {
    border-color: red;
    visibility: visible;
}

.form_control.error small {
    visibility: visible;
} */ 